<div class="section">
  <div class="section-wrap info">
    <div class="section-item">
      <div class="section-title">
        <%= link_to t("mail.featured.title"), explore_url %>
      </div>
    </div>
  </div>
</div>

<% @featured.each_with_index do |image, i| %>
<div class="section section-image" id="image-<%= image.id %>">
  <div class="section-wrap">
    <div class="section-item">
      <div class="section-title">
        <%= link_to image.title, controller: "image", action: "item", id: image.id %>
      </div>
      <div class="section-content">
        <%= link_to(image_tag(attachments["feature_#{i}"].url, width: 520, height: 520, alt: "feature photo ##{i}"), controller: "image", action: "item", id: image.id) %>
      </div>
    </div>
  </div>
</div>
<% end %>