<div class="section">
  <div class="section-wrap info">
    <div class="section-item">
      <div class="section-title">
        探索
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section-wrap">
    <div class="section-explore">
      <% @explore[:weekly_top].each do |image| %>
      <div class="section-square section-blur">
        <a href="/image/<%= image.id %>">
          <div class="section-overlay">
            <%= icon("heart") %><%= image.likes.count %>
          </div>
          <%= image_tag(image.img_url(:thumbnail)) %>
        </a>
      </div>
      <% end %>
    </div>
  </div>
</div>