<div class="section">
  <div class="section-wrap info">
    <div class="section-title">
      <%= link_to "返回", controller: "index", action: "index" %>
    </div>
  </div>
</div>

<%= render partial: "image/image", object: @image, locals: {nolink: true} %>

<div class="section">
  <div class="section-wrap">
    <div class="section-title">
      点赞的人
    </div>
    <div class="section-content">
      <% @likes.each do |like| %>
      <div class="section-time">
        <%= like.updated_at.strftime("%Y-%m-%d %H:%M") %>
      </div>
      <div>
        <%= like.user.name %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div id="comment" class="section">
  <div class="section-wrap">
    <div class="section-title">
      评论
    </div>
  </div>
</div>
