<% flash.each do |type, msg| %>
<div class="section">
  <div class="section-wrap <%= type %>">
    <div id="flash-message" class="section-title">
      <%= msg %>
    </div>
  </div>
</div>
<% end %>

<% @images.each do |image| %>
  <%= render partial: "image/image", object: image %>
<% end %>
