<%= render partial: "index/flash" %>

<a href="user/new">
  <div class="section">
    <div class="section-wrap text-center">
      <div id="sign-up" class="section-title">
        <b><%= t(:landing_title) %></b>
      </div>
      <div class="section-content">
        <b><%= t(:landing_content) %></b>
      </div>
    </div>
  </div>
  
  <div class="section">
    <div class="section-wrap">
      <div class="section-explore">
        <% @images.each do |image| %>
        <div class="section-square section-blur">
          <%= image_tag(image.img_url(:thumbnail)) %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</a>