<div class="section upload">
  <div class="section-wrap info invite-title">
    <div class="section-item">
      <div class="section-title">
        <%= params[:name] %> <%= t(:invite_title) %>
      </div>
    </div>
  </div>
</div>

<div class="section upload">
  <div class="section-wrap">
    <div class="section-item">
      <%= render partial: "user/new_form" %>
    </div>
  </div>
</div>
