<div class="section upload">
  <div class="section-wrap">
    <div class="section-item">
      <div class="section-title">
        <%= t(:register) %>
      </div>
      <%= render partial: "user/new_form" %>
    </div>
  </div>
</div>