.upload input[type=text] {
  width: 100%;
}
img.gravatar {
  width: 2rem;
  height: 2rem;
}
.section-explore {
  display: flex;
  flex-wrap: wrap;
}
.section-square {
  padding-left: .3rem;
  padding-top: .2rem;
}
.section-square img {
  width: 11rem;
  height: 11rem;
}
.section-overlay {
  width: 11rem;
  height: 11rem;
  line-height: 11rem;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  z-index: 999;
  display: none;
}
.section-overlay .fa {
  margin-right: .4rem;
}
.section-square:hover .section-overlay {
  display: block;
}
/*.section-blur img{
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.section-blur:hover img{
  -webkit-filter: none;
  filter: none;
}
.section-blur:hover .section-overlay {
  display: none;
}*/
@media (max-width: 36rem) {
  .section-explore {
    display: block;
  }
  .section-square {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .section-square img {
    max-width: 100%;
  }
  .section-overlay {
    display: none;
  }
  .section-blur {
  }
}
.site-menu .fa {
  margin-left: .4rem;
  font-size: 1.5rem;
}
