.upload input[type=text] {
  width: 100%;
}
img.gravatar {
  width: 2rem;
  height: 2rem;
}
.section-explore {
  display: flex;
  flex-wrap: wrap;
}
.section-square {
  padding-left: .4rem;
  padding-top: .2rem;
}
.section-square img {
  width: 19.6rem;
  height: 19.6rem;
}
.section-overlay {
  width: 20rem;
  height: 20rem;
  line-height: 20rem;
  position: absolute;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  -webkit-text-stroke: 1px white;
}
@media (max-width: 42rem) {
  .section-explore {
    display: block;
  }
  .section-square {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .section-square img {
    max-width: 100%;
  }
  .section-overlay {
    display: none;
  }
}